

@media screen and (max-width: 767px) {
  .flipTimebox .flip-clock-wrapper ul {
    height: 50px;
    line-height: 50px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    line-height: 50px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 24px;
  }
  .flipTimebox .flip-clock-divider {
    height: 50px;
  }
  .flipTimebox .flip-clock-dot {
    height: 6px;
    width: 6px;
    left: 7px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 17px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 8px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 37px;
    margin: 2px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 38px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 568px) {
  .flipTimebox .flip-clock-wrapper ul {
    margin: 2px;
  }
  .flipTimebox .flip-clock-divider {
    width: 5px;
  }
  .flipTimebox .flip-clock-dot {
    height: 5px;
    width: 5px;
    left: 0;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 480px) {
  .flipTimemodulesboxes {
    padding: 0;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 0.8em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -33px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -37px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -43px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -45px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 24px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 14px !important;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 25px;
    background-color: transparent;
    box-shadow: none;
    margin: 1px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 25px;
    height: 35px;
    line-height: 35px;
    margin: 1px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 25px;
    line-height: 35px;
  }
  .flipTimebox .flip-clock-divider {
    height: 35px;
    width: 10px;
  }
  .flipTimebox .flip-clock-dot {
    height: 4px;
    width: 4px;
    left: 3px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 12px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 6px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 17px;
  }
  .flipTimebox {
    margin: 20px auto;
  }
}
@media screen and (max-width: 360px) {
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 0.7em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -25px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -28px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -34px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -36px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 22px;
    margin: 1px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 22px;
    height: 32px;
    line-height: 32px;
    margin: 1px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 22px;
    line-height: 32px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 20px;
  }
  .flipTimebox .flip-clock-divider {
    width: 8px;
  }
  .flipTimebox .flip-clock-dot {
    left: 2px;
  }
  .flipTimebox {
    margin: 20px auto;
  }
}
@media screen and (max-width: 320px) {
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 20px;
    margin: 0px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 20px;
    height: 30px;
    line-height: 30px;
    margin: 0px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 20px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 18px;
  }
  .flipTimebox .flip-clock-divider {
    width: 6px;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 0.6em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -20px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -23px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -28px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -30px;
  }
}

.flip-clock-wrapper {
  margin: 2em auto !important;
}

.flip-clock-divider .flip-clock-label {
  color: white !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-family: Sofia Sans Condensed !important; 
}
